
<!-- Add this css File in head tag-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->
<div class="row">
  <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

   <!-- Indicators -->
  <div class="row">
     <ol class="carousel-indicators">
         <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
         <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
         <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
     </ol>
  </div>

   <!-- Wrapper For Slides -->
   <div class="carousel-inner" role="listbox">

       <!-- Third Slide -->
       <div class="item active">

           <!-- Slide Background -->
           <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="工作室"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>

           <div class="container">
               <div class="row">
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_center">
                     <h1 data-animation="animated zoomInRight">让您手作时有一个好的环境</h1>
                     <br>
                     <a href="/jobs"  class="btn btn-warning" data-animation="animated fadeInLeft">马上加入</a>
                   </div>
               </div>
           </div>
       </div>
       <!-- End of Slide -->

       <!-- Second Slide -->
       <div class="item">

           <!-- Slide Background -->
           <img src="http://oon3erbcp.bkt.clouddn.com/tu-2.jpg" alt="皮鞋"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>
           <!-- Slide Text Layer -->
           <div class="slide-text slide_style_center">
             <h1 data-animation="animated flipInX">让您的手工皮具有更多的人喜欢</h1>
             <br>
             <a href="/jobs" class="btn btn-warning" data-animation="animated fadeInUp">马上加入</a>
           </div>
       </div>
       <!-- End of Slide -->

       <!-- Third Slide -->
       <div class="item">

           <!-- Slide Background -->
           <img src="http://oon3erbcp.bkt.clouddn.com/tu-3.jpg" alt="团队"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>
           <!-- Slide Text Layer -->
           <div class="slide-text slide_style_center">
             <h1 data-animation="animated zoomInLeft">让您与伙伴们一起成长</h1>
             <br>
             <a href="/jobs" class="btn btn-warning" data-animation="animated fadeInLeft">马上加入</a>
           </div>
       </div>
       <!-- End of Slide -->


   </div><!-- End of Wrapper For Slides -->

   <!-- Left Control -->
   <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
       <span class="fa fa-angle-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
   </a>

   <!-- Right Control -->
   <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
       <span class="fa fa-angle-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
   </a>

  </div> <!-- End  bootstrap-touch-slider Slider -->
</div>

<section id="human">
  <div class="container-fluid text-center">
    <hr>
    <h2>与大师一起</h2>
    <hr style= "width:200px">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <br><br><br>
          <img src="http://oon3erbcp.bkt.clouddn.com/zzg.png" alt="邹智光" >
          <div class="caption">
            <h3>邹智光</h3>
            <p>固特异手工做鞋资深导师<br/>物序制创始人</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <br><br><br>
          <img src="http://oon3erbcp.bkt.clouddn.com/pfz.png" alt="皮夫子">
          <div class="caption">
            <h3>皮夫子</h3>
            <p>深圳当代原创皮雕工艺的先行者<br/>记牛堂创始人</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <br><br><br>
          <img src="http://oon3erbcp.bkt.clouddn.com/llfd2.png" alt="老李飞刀">
          <div class="caption">
            <h3>老李飞刀</h3>
            <p>深圳技师学院设计系专家顾问<br/>创铭中心创始人</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="product">
  <div class="container1 text-center">
  <hr>
  <h2>我们的手作品</h2>
  <hr style= "width:200px">
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>高帮鞋</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="http://oon3erbcp.bkt.clouddn.com/tu-5.jpg" class="img-circle product" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>量脚定做</p>
        <p>独一无二</p>
        <p>成就个性耐用的你</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>花朵</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="http://oon3erbcp.bkt.clouddn.com/tu-4.jpg" class="img-circle product" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>以皮为材</p>
        <p>染上颜色</p>
        <p>成就绚丽多彩的你</p>
      </div>
    </div>
    <div class="col-sm-4 item fl">
      <p class="text-center"><strong>单肩包</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="http://oon3erbcp.bkt.clouddn.com/tu-6.jpg" class="img-circle product" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>两针一线</p>
        <p>保持本色</p>
        <p>成就简洁大方的你</p>
      </div>
    </div>
  </div>
</div>
</section>

<section id="jobs">
  <div class = "container-fluid text-center">
    <hr >
    <h2>皮匠职位</h2>
    <hr style= "width:200px">
    <div class="row">
      <div class="col-sm-4">
        <div class="hjc-img-wrap">
          <br><br><br>
          <%= link_to jobs_path(:category => "学徒" ) do %>
            <img src='<%= image_url 'xuetu.png' %>' alt="学徒">
           <% end %>
          <div class="caption">
            <h3>学徒</h3>
            <p>不要灰心，大师都是从小白开始的</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="hjc-img-wrap">
          <br><br><br>
          <%= link_to jobs_path(:category => "匠人" ) do %>
            <img src='<%= image_url 'jiangren.png' %>'  alt="匠人">
          <% end %>
          <div class="caption">
            <h3>匠人</h3>
            <p>努力吧，你的上面还有大师</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="hjc-img-wrap">
          <br><br><br>
          <%= link_to jobs_path(:category => "大师" ) do %>
            <img src='<%= image_url 'dashi.png' %>'   alt="大师">
          <% end %>
          <div class="caption">
            <h3>大师</h3>
            <p>大师，永远在探索</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
